<link rel="stylesheet" type="text/css" href="/css/testimonial.css">
<div class="container">
	<div class="row">
		<h2>Destinations Details</h2>
	</div>
</div>
<div class="container">
    <div class="row">
		<% for (var destination of destinations) {%>
			<div class="col-sm-6 col-md-4">
			    <div class="thumbnail">
				    <img src="<%= destination['img'] %>" alt=""/>
			    	<div class="caption" class="row">
			    		<div class="col-sm-12 col-md-12">
			        		<h3><span style="color:blue"><%= destination["name"] %></span></h3>
			        	</div>
			        	<br><br>
			    		<div class="col-sm-12 col-md-12">
			        		<strong>Starting budget : </strong>
				        	<span><b>&#8377; <%= destination["min_b"] %></b>/Per persons<% destination["min_b"] %></span>
						</div>
						<br><br>
			        	<div class="col-sm-6 col-md-6">
		        			<img src="/images/backpack.png" alt="Bookings" width="20px" height="20px">
			        		<strong><%= destination["bookings"] %>+  Bookings</strong>
		        		</div>
		        		<div class="col-sm-6 col-md-6">
		        			<img src="/images/agent.png" alt="Bookings" width="20px" height="20px">
			        		<strong><%= destination["agents"] %> Agents</strong>
		        		</div>
		        		<br><br>
				        <div lass="col-sm-12 col-md-12" style="padding-left: 17px;">
				        	<a href="/destinations/<%= destination["id"] %>/testimonials">
			        			Testimonials
			        		</a> | 
			        		<a href="/destinations/<%= destination["id"] %>/packages">
			        			Packages
			        		</a>
				        </div>
			      	</div>
			    </div>
			</div>
		<% }%>
	</div>
</div>
